<!-- app/views/home/sign_up.html.erb -->
<div class="mainContent">
  <div class="grid">
    <h1 class="largeHeader">Create New Item:</h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:List_Item, url: {action: :create}) do |f| %>
      <% if flash[:notice] %>
        <div class="alert alert-danger"><strong>Error: </strong><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:success] %>
        <div class="alert alert-success"><strong>Success: </strong><%= flash[:success] %></div>
      <% end %>
      <% if flash[:warning] %>
        <div class="alert alert-warning"><strong>Success: </strong><%= flash[:warning] %></div>
      <% end %>
      <%= f.label :Description %>
      <%= f.text_field :Description, class: 'form-control' %>

      <%= f.label :Comments %>
      <%= f.text_field :Comments, class: 'form-control' %>

      <%= f.label :Link %>
      <%= f.text_field :Link, class: 'form-control' %>

      <%= f.label :Quantity %>
      <%= f.text_field :Quantity, class: 'form-control' %>

      <%= f.hidden_field :list_id, value: @list.id %>

      
      <%= f.submit "Save Item", class: "btn btn-primary" %>
    <% end %>

    </div><!-- end column 2 contact form -->
  </div><!-- end grid -->
</div><!-- end mainContent -->


