	<div class="row">
		<div class="col-md-3 list-header">
				<h3><%= list.name %></h3>
		</div>
		<div class="col-md-6 list-description" >
							<h4><%= list.description %></h4>
		</div>
		<div class="col-md-1">
					<%= button_to 'Modify List', '#' %>
		</div>
		<div class="col-md-2">
						<%=  button_to 'Delete List', {controller: 'lists', :id => list.id}, :method=>:delete, data: {confirm: "You sure?"} %>
		</div>
	</div>

<% if list.list_items.any? %>
	<%= render list.list_items %>
<% end %>

