<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<a class="navbar-brand" href="lists/get_list?id=<%=list.id%>"> <%= list.name %></a>
				<div class="description" >
              <%= list.description %>
        </div>
				<li class="modify">
          <%= button_to 'Modify List', {:controller => "lists", :action => "list_items", :id => list.id}, :method=>:post %>
				</li>
        <li class="delete">
          <%=  button_to 'Delete List', {:controller => "lists", :action => "destroylist", :id => list.id}, :method=>:post %>
				</li>
		</div>
	</div>
</div>