<div class="container-fluid"; style="float:center;">
  <ul class="nav navbar-nav navbar-right">
    <input type="button" onclick="location.href='create_item?list_id=<%=@list.id%>';" value="Add New Item" />
  </ul>
  <% if @items.any? %>
    <h3><%= @list.name %> Items</h3>
    <% @items.each do |f|%>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <p style="float:right;">
                <div class="thumbnail">
                  <% if f.site_link != "" %>
                    <!-- This requires that the site_link property is set to an image URL, rather than a page. -->
                    <img alt="Bootstrap Thumbnail Second" src= "<%= f.site_link %>" />
                  <% end %>
                <div class="caption">
              </p>
              <p style="float:right;">
                <h3>
                  <%= f.description %>
                </h3>
                <p>
                  <%= f.comments %>
                </p>
                <p>
                  Quantity: <%= f.quantity %>
                </p>
                <p>
                <% if f.purchased? %>
                  Purchased: Yes
                <% else %>
                  Purchased: No
                <% end %>
                </p>
                <p>
                  <a class="btn btn-primary" href="#">Modify</a> <a class="btn btn-primary" href="destroyitem?id=<%=f.id%>&list_id=<%=f.list.id%>">Delete</a>
                </p>
              </p>
              
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% else %>
      <h3> No Items in List :( </h3>
  <% end %>
</div>

  
